<header>
    <div>
        <a href="#bottom">
            <img id="header_logo" src="../../../../assets/img/personal_logo.png" alt="">
        </a>
        <div class="translate_container">
            <p (click)="translate.switchLanguage('en')">EN</p>
            <p>|</p>
            <p (click)="translate.switchLanguage('de')">DE</p>
        </div>
    </div>
    @if (isMenuOpen) {
    <nav [ngClass]="isMenuOpen ? 'slide-in' : 'slide-out'">
        <a href="#about_me" (click)="toggleMenu()">{{ 'About' | translate }}</a>
        <a href="#skills" (click)="toggleMenu()">{{ 'Skills' | translate }}</a>
        <a href="#portfolio" (click)="toggleMenu()">{{ 'Portfolio' | translate }}</a>
        <a href="#contact" (click)="toggleMenu()">{{ 'Contact' | translate }}</a>
        <div class="nav_footer">
            <h2>Say Hi!</h2>
        </div>
    </nav>
    }
    <img [src]="getImageSrc()" alt="" (click)="onClick()">
</header>