@import "../policy/policy.component.scss";


div {
  height: 87vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  > span,
  a {
    font-family: Overpass, Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 24px;
  }
  a:hover {
    font-weight: 800;
  }

  >span{
    width: 90%;
    text-align: center;
  }
}
