<div id="contact"></div>
<h2>{{ "Say Hi!" | translate }}</h2>
<div>
    <span>{{ "Want to discuss a new project?" | translate }}</span>
    <p>{{ "Say hello! let's discuss your ideas and make it happen" | translate }}</p>
</div>
<form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
    <div class="input_wrapper">
        <input autocomplete="name" #name="ngModel" [(ngModel)]="contactData.name" required type="text" id="name"
            name="name" placeholder="{{ 'Your name' | translate }}">
    </div>

    @if (!name.valid && name.touched ) {
    <span class="invalid_entry_textfield">{{ "Your name is required" | translate }}</span>
    }@else {
    <span class="invalid_entry_textfield"></span>
    }

    <div class="input_wrapper">
        <input autocomplete="email" #email="ngModel" [(ngModel)]="contactData.email" required type="email" id="email"
            name="email" placeholder="{{ 'Your email' | translate }}" pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,6}">
    </div>

    @if (!email.valid && email.touched) {
    <span class="invalid_entry_textfield">{{ "plese enter a valid email" | translate }}</span>
    } @else {
    <span class="invalid_entry_textfield"></span>
    }

    <div class="input_wrapper">
        <textarea #message="ngModel" [(ngModel)]="contactData.message" required name="message" id="message"
            placeholder="{{ 'Your message' | translate }}" minlength="4"></textarea>
    </div>

    @if (!message.valid && message.touched) {
    <span class="invalid_entry_textfield">{{ "Please enter a message" | translate }}
    </span>
    }
    @else {
    <span class="invalid_entry_textfield"></span>
    }

    <div id="privacy_policy_checkbox_container">
        <div id="privacy_policy_checkbox_wrapper">
            <img #privacyPolicyCheckboxImage (click)="acceptPolicy($event)" id="privacy_policy_checkbox_image"
                src="../../../assets/img/contact_me/check_box_outline_blank.svg" alt="">
        </div>
        <span id="privacy_policy_text_container">
            {{ "I've read the" | translate }} <a href="policy">{{ "privacy policy" | translate }}</a> {{ "and agree to the processing of my data as outlined." | translate }}
        </span>
    </div>

    @if (!acceptedPolicy  && (message.valid && email.valid && name.valid) ) {
    <span class="invalid_entry_textfield">{{ "You have to accept the privacy policy" | translate }} </span>
    }@else {
    <span class="invalid_entry_textfield"></span>
    }
    @if (acceptedPolicy && email.valid && message.valid && name.valid) {
    <button type="submit">
        {{ "Send message" | translate }}
    </button>
    }@else {
    <button id="disabled_button" disabled>
        {{ "Send message" | translate }}
    </button>
    }

</form>