<div id="about_me"></div>
<section  class="about_me_container">
    <h2 class="mt100">About me</h2>
    <span>
        I am a Front-end deverloper based in Hattingen, Germany. I help designers and companies to bring their ideas to
        real
        life. Creativity and logical thinking are skills that I have developed to connect ideas into quality products.
        <br><br>
        If
        you think I'd be a good match for your projects, contact me!
    </span>
        <a href="#contact">
            <button>Let's talk</button>
        </a>
</section>

<div class="profile_picture_container mt_extra">
    <img src="../../../assets/img/test_profile_picture.jpg" alt="">
</div>