<div class="landing_page">
    <h1> 
        {{ ' Frontend' | translate }}
        <br>
        {{ 'Developer' | translate }}
    </h1>
    <div>
        <div class="design_container"></div>
        <span class="name_container">Pascal Thelke</span>
    </div>
    <a href="mailto:kontakt@pascal-thelke.de">kontakt&#64;pascal-thelke.de</a>
    <div id="scroll_down_container">
        <img src="../../../assets/img/scroll_down_animation/arrow1.svg" alt="">
        <span>{{ 'Scroll Down' | translate }}</span>
    </div>
</div>