$primary_color: rgb(0, 188, 143);
$main_font: Syne, Arial, Helvetica, sans-serif;
$secondary_font: Overpass, Arial, Helvetica, sans-serif;
$smallest_weight: 300;
$medium_weight: 400;
$large_weight: 800;

@mixin fontDesingSmall() {
  font-family: $secondary_font;
  font-weight: $smallest_weight;
  font-size: 23px;
}

@mixin fontDesingMedium() {
  font-family: $secondary_font;
  font-weight: $medium_weight;
  font-size: 23px;
}

app-about-me {
  display: flex;
  justify-content: space-around;
  height: 100vh;
}

app-my-skills{
    display: block;
    height: 100vh;
}

@media only screen and (max-width: 1225px){
    app-about-me{
        flex-direction: column;
        align-items: center;
    }

    h1{
        font-size: 56px !important;
    }

    .name_container{
        font-size: 24px !important;
    }

    .desgin_container{
        width: 332px !important;
    }

    .landing_page a{
        margin-top: 324px !important;
    }

}
