app-about-me {
  display: flex;
  justify-content: space-around;
  height: 100vh;
}

app-my-skills{
    display: flex;
    height: 100vh;
    align-items: center;
    flex-direction: column;
}

@media only screen and (max-width: 1225px){
    app-about-me{
        flex-direction: column;
        align-items: center;
    }

    h1{
        font-size: 56px !important;
    }

    .name_container{
        font-size: 24px !important;
    }

    .desgin_container{
        width: 332px !important;
    }

    .landing_page a{
        margin-top: 324px !important;
    }

}
