app-about-me {
  display: flex;
  justify-content: space-around;
  width: 100vw;
  max-width: 1920px;

}

app-my-skills{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    max-width: 1920px;
}

app-portfolio{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    max-width: 1920px;
}

app-contact-me{
    display: flex;
    align-items: center;
    flex-direction: column;
    color:#FFFCF3;
    background-image: url(../../assets/img/contact_me/contact_me_background.svg);
    background-size: cover;
    width: 100vw;
    max-width: 1920px;
}

.mt100{
    margin-top: 100px;
}

.mt_extra{
    margin-top: 280px !important;
}

@media only screen and (max-width: 1225px){
    app-about-me{
        flex-direction: column;
        align-items: center;
    }


    h1{
        font-size: 56px !important;
    }

    .name_container{
        font-size: 24px !important;
    }

    .design_container{
        width: 332px !important;
    }

    .landing_page a{
        margin-top: 324px !important;
    }

    .project_container{
        flex-direction: column !important;
        gap: 20px !important;
    }

    .mt_extra{
        margin-top: 96px !important;
    }
}

@media only screen and (max-width: 720px) {
    app-portfolio,
    app-contact-me,
    app-my-skills{
        width: auto;
    }
  }
