@import "../../../app.component.scss";

footer {
  height: 124px;
  max-width: 1920px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  color: #FFFCF3;
  padding: 0px 64px 0px 64px;
  text-wrap: nowrap;
  > div {
    display: flex;
    flex-direction: column;
    gap: 8px;
    > span {
      font-family: Poppins, Arial, Helvetica, sans-serif;
      font-weight: 400;
      font-size: 23px;
    }
  }
}

.personal_logo {
  height: 40px;
  object-fit: cover;
  object-position: center;
}

.social_icons_container {
  width: 204px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  >a{
    &:hover {
        transition: all 125ms ease-out;
        transform: translateY(-8px);
      }
  }
}

.legal_link {
  align-self: flex-end;
  text-decoration: none;
  color: #FFFCF3;
  font-family: $secondary_font;
  font-weight: $medium_weight;
  font-size: 16px;
  position: relative;
  &:hover{
    font-weight: bold;
  }
}

.legal_link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%; 
  border-bottom: 3px solid transparent; 
  transition: width 0.3s ease-out; 
}

.legal_link:hover::after {
  width: 50%; 
  border-color: $primary_color; 
  font-weight: 700;
  transform: translateX(100%);
}


@media only screen and (max-width: 720px) {
footer{
  padding: 0px;
  flex-direction: column-reverse;
  justify-content: unset;
  gap: 10px;
  >div{
    gap: 10px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    >span{
      font-size: 16px;
    }
  }
}

.social_icons_container{
  width: 136px;
}
}

@media only screen and (max-width: 420px) {
  footer{
    gap: 32px;
    height: 200px;
  }
}

