<footer>
    <div>
        <a href="">
            <img class="personal_logo" src="../../../../assets/img/personal_logo_invert.png" alt="">
        </a>
        <span>&copy; Pascal Thelke 2024</span>
    </div>
    <div>
        <div class="social_icons_container">
            <a href="">
                <img src="../../../../assets/img/social_media_icons/github.svg" alt="">
            </a>
            <a href="">
                <img src="../../../../assets/img/social_media_icons/email.svg" alt="">
            </a>
            <a href="">
                <img src="../../../../assets/img/social_media_icons/linkedin.svg" alt="">
            </a>
        </div>
        <a class="legal_link" href="">Legal notice</a>
    </div>
</footer>