<div class="legal_container">
    <div class="margin56 mb106">
        <div class="space-between">
            <h1>{{ "Legal Notice" | translate }}</h1> 
            <!-- <img id="side_back_arrow_img" src="./assets/img/arrow-left-line.png" alt="" onclick="goBack()"> -->
        </div>
        
        <h2>{{ "Imprint" | translate }}</h2>

        <ul class="legal_list">
            <li class="legal_list_item">{{ "Pascal Thelke" | translate }}</li>
            <li class="legal_list_item">{{ "Talstr. 32" | translate }}</li>
            <li class="legal_list_item">{{ "45525 Hattingen" | translate }}</li>
        </ul>

        <h3>{{ "Contact" | translate }}</h3>
        <span>{{ "Email:" | translate }} <a href="mailto:kontakt@pascal-thelke.de"><b>kontakt&#64;pascal-thelke.de</b></a></span>

        <h3>{{ "Acceptance of Terms" | translate }}</h3>
        <span>{{ "By accessing and using" | translate }} <a href="#">{{ "this portfolio" | translate }}</a>, {{ "you acknowledge and agree to the following terms and conditions, and any policies, guidelines, or amendments thereto that may be presented to you from time to time. We, the listed individuals, reserve the right to update or change the terms and conditions from time to time without notice." | translate }}</span>

        <h3>{{ "Scope and Ownership of the Portfolio" | translate }}</h3>
        <span>{{ "This portfolio has been developed as part of an individual project. It serves an educational purpose and is not intended for extensive personal or business use. As such, we cannot guarantee continuous availability, reliability, accuracy, or any other aspect of quality regarding this portfolio." | translate }}</span>
        <span>{{ "The design of this portfolio is owned by" | translate }} <b>{{ "Pascal Thelke" | translate }}</b>. {{ "Unauthorized use, reproduction, modification, distribution, or replication of the design is strictly prohibited." | translate }}</span>

        <h3>{{ "Proprietary Rights" | translate }}</h3>
        <span>{{ "Aside from the design owned by" | translate }} <b>{{ "Pascal Thelke" | translate }}</b>, {{ "we, the listed individuals, retain all proprietary rights in this portfolio, including any associated copyrighted material, trademarks, and other proprietary information." | translate }}</span>

        <h3>{{ "Use of the Portfolio" | translate }}</h3>
        <span>{{ "This portfolio is intended to be used for lawful purposes only, in accordance with all applicable laws and regulations. Any use of this portfolio for illegal activities, or to harass, harm, threaten, or intimidate another person, is strictly prohibited. You are solely responsible for your interactions with other users of this portfolio." | translate }}</span>

        <h3>{{ "Disclaimer of Warranties and Limitation of Liability" | translate }}</h3>
        <span>{{ "This portfolio is provided 'as is' without warranty of any kind, whether express or implied, including but not limited to the implied warranties of merchantability, fitness for a particular purpose, and non-infringement. In no event will we, the listed individuals, be liable for any direct, indirect, incidental, special, consequential, or exemplary damages, including but not limited to, damages for loss of profits, goodwill, use, data, or other intangible losses, even if we have been advised of the possibility of such damages, arising out of or in connection with the use or performance of this portfolio." | translate }}</span>

        <h3>{{ "Indemnity" | translate }}</h3>
        <span>{{ "You agree to indemnify, defend, and hold harmless us, the listed individuals, and our affiliates, partners, officers, directors, agents, and employees, from and against any claim, demand, loss, damage, cost, or liability (including reasonable legal fees) arising out of or relating to your use of this portfolio and/or your breach of this Legal Notice." | translate }}</span>
    </div>
</div>

