<div class="headline_container">
    <h2>My skills</h2>
</div>

<div class="my_skills_container">
    <div>
        <div>
            <img src="../../../assets/img/my_skills/Angular.svg" alt="">
            <span>Angular</span>
        </div>

        <div>
            <img src="../../../assets/img/my_skills/typeScript.svg" alt="">
            <span>TypeScript</span>
        </div>

        <div>
            <img src="../../../assets/img/my_skills/Javascript.svg" alt="">
            <span>JavaScript</span>
        </div>

        <div>
            <img src="../../../assets/img/my_skills/html.svg" alt="">
            <span>HTML</span>
        </div>

        <div>
            <img src="../../../assets/img/my_skills/css.svg" alt="">
            <span>CSS</span>
        </div>
    </div>
    <div>
        <div>
            <img src="../../../assets/img/my_skills/Firebase.svg" alt="">
            <span>Firebase</span>
        </div>

        <div>
            <img src="../../../assets/img/my_skills/git.svg" alt="">
            <span>Git</span>
        </div>

        <div>
            <img src="../../../assets/img/my_skills/scrum.svg" alt="">
            <span>Scrum</span>
        </div>

        <div>
            <img src="../../../assets/img/my_skills/Api.svg" alt="">
            <span>Rest-Api</span>
        </div>

        <div>
            <img src="../../../assets/img/my_skills/Frame.svg" alt="">
            <span>Material Design</span>
        </div>
       
    </div>
</div>