<div id="skills"></div>
<div class="headline_container">
    <h2>{{ "My skills" | translate }}</h2>
</div>
<div class="my_skills_container">
    <div>
        @for (name of skillNameFirstContainer; track $index) {
        <div>
            <img src="../../../assets/img/my_skills/skill_{{ $index }}.svg" alt="">
            <span>{{ name }}</span>
        </div>
        }
    </div>
    <div>
        @for (name of skillNameSecondContainer; track $index) {
        <div>
            <img src="../../../assets/img/my_skills/skill_{{ ($index+5) }}.svg" alt="">
            <span>{{ name }}</span>
        </div>
        }
    </div>
</div>