<div>
    <div>
        <img src="../../../assets/img/my_skills/Angular.svg" alt="">
        <img src="../../../assets/img/my_skills/Api.svg" alt="">
        <img src="../../../assets/img/my_skills/Firebase.svg" alt="">
        <img src="../../../assets/img/my_skills/Frame.svg" alt="">
        <img src="../../../assets/img/my_skills/git.svg" alt="">
    </div>
    <div>
        <img src="../../../assets/img/my_skills/html.svg" alt="">
        <img src="../../../assets/img/my_skills/Javascript.svg" alt="">
        <img src="../../../assets/img/my_skills/scrum.svg" alt="">
        <img src="../../../assets/img/my_skills/Vector.svg" alt="">
        <img src="../../../assets/img/my_skills/wp.svg" alt="">
    </div>
</div>