<div class="project_container">
    <div class="project_image_container">
        <img src="../../../assets/img/portfolio/portfolio_placeholder.svg" alt="">
    </div>
    <div class="description_container">
        <h3>Join</h3>
        <span id="used_stack">JavaScript | HTML | CSS </span>
        <span>Task manager inspired by the Kanban System. Create and organize tasks using drag and drop functions,
            assign users and categories.
        </span>
        <button>
            Github
        </button>
    </div>
</div>