<div class="project_container ml_4">
    <div class="project_image_container">
        <img src="../../../assets/img/portfolio/portfolio_placeholder_join.png" alt="">
    </div>
    <div data-aos="fade-right" class="description_container">
        <h3>Join</h3>
        <span id="used_stack">JavaScript | HTML | CSS | inGroup</span>
        <span>
            {{ "Task manager inspired by the Kanban System. Create and organize tasks using drag and drop functions, assign users and categories." | translate }}
        </span>
        <div>
            <a href="https://github.com/PascalThelke/Join" target="_blank">
                <button>Github</button>
            </a>
            <a href="https://pascal-thelke.de/join/" target="_blank">
                <button>Live test</button>
            </a>
        </div>
    </div>
    <div data-aos="fade-down" class="description_container_lowres">
        <h3>Join</h3>
        <span id="used_stack">JavaScript | HTML | CSS | inGroup</span>
        <span>
            {{ "Task manager inspired by the Kanban System. Create and organize tasks using drag and drop functions, assign users and categories." | translate }}
        </span>
        <div>
            <a href="https://github.com/PascalThelke/Join" target="_blank">
                <button>Github</button>
            </a>
            <a href="https://pascal-thelke.de/join/" target="_blank">
                <button>Live test</button>
            </a>
        </div>
    </div>
</div>