<div class="project_container row_rev">
    <div class="project_image_container margin_rev_low_res">
        <img class="pos_off_rev" src="../../../assets/img/portfolio/portfolio_placeholder_sharkie.svg" alt="">
    </div>
    <div data-aos="fade-left" class="description_container">
        <h3>Sharkie</h3>
        <span id="used_stack">JavaScript | HTML | CSS </span>
        <span>
            {{ "A simple Jump-and-Run game based on an object-oriented approach. Help sharkie to find coins and poison bottles to fight against the killer whale." | translate }}
        </span>
        <div>
            <a href="https://github.com/PascalThelke/sharky" target="_blank">
                <button>Github</button>
            </a>
            <a href="https://pascal-thelke.de/sharky/" target="_blank">
                <button>Live test</button>
            </a>
        </div>
    </div>
    <div data-aos="fade-down" class="description_container_lowres">
        <h3>Sharkie</h3>
        <span id="used_stack">JavaScript | HTML | CSS </span>
        <span>
            {{ "A simple Jump-and-Run game based on an object-oriented approach. Help sharkie to find coins and poison bottles to fight against the killer whale." | translate }}
        </span>
        <div>
            <a href="https://github.com/PascalThelke/sharky" target="_blank">
                <button>Github</button>
            </a>
            <a href="https://pascal-thelke.de/sharky/" target="_blank">
                <button>Live test</button>
            </a>
        </div>
    </div>
</div>