<div class="project_container row_rev">
    <div class="project_image_container">
        <img class="pos_off_rev" src="../../../assets/img/portfolio/portfolio_placeholder_sharkie.svg" alt="">
    </div>
    <div class="description_container">
        <h3>Sharkie</h3>
        <span id="used_stack">JavaScript | HTML | CSS </span>
        <span>A simple Jump-and-Run game based on an object-oriented approach. Help sharkie to find coins and poison
            bottles to fight against the killer whale.
        </span>
        <button>
            Github
        </button>
    </div>
</div>