@import "../app.component.scss";

.legal_container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 100px;
  padding: 40px;
}

.legal_list {
  list-style-type: square;
  padding-left: 20px;
}

h2,
h3 {
  margin-block-start: 24px;
  margin-block-end: 0;
}

h1 {
  font-family: $main_font;
  font-weight: 800;
  font-size: 56px;
}

h2 {
  font-family: $main_font;
  font-weight: 700;
  font-size: 40px;
}

h3 {
  font-family: $main_font;
  font-weight: 600;
  font-size: 32px;
}

a {
  color: $primary_color;
  font-family: $secondary_font;
  font-weight: 500;
  font-size: 20px;
  text-decoration: none;
  cursor: pointer;
  border-radius: 4px;
  &:hover {
   font-weight: 700;
   background-color: rgba($color: #000000, $alpha: 0.06);
  }
}

li,
span {
  font-family: $secondary_font;
  font-weight: 400;
  font-size: 20px;
}

b {
  color: $primary_color;
}

@media (max-width: 1000px) {
  .legal_container {
    margin-left: 0px;
  }
}

@media (max-width: 420px) {
  .legal_container {
    padding-left: 4px;
    padding-right: 4px;
  }

  h1 {
    font-size: 48px;
  }
}
